.sidebarContainer {
  /* padding-top: 60  px !important; */
  width: 18%;
}
.composeBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  max-width: 100px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0px 2px 5px 0px rgb(189, 189, 189);
  margin-bottom: 12px;
  margin-top: 5px;
  margin-left: 8px;
}
.sidebarItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px 8px 5px 2px;
}
.sidebarItem:hover {
  background-color: whitesmoke;
  border-radius: 0px 30px 30px 0px;
}
.sidebarItem > p {
  font-size: 16px;
  color: rgb(110, 110, 110);
}
.leftside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftside > P {
  margin-left: 5px;
  color: rgb(110, 110, 110);
}
.sidebarIcon {
  color: rgb(110, 110, 110);
  height: 20px;
  width: 20px;
}
.bottomArea {
  padding: 5px;
}
.bottomItems {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 3px;
}
.bottomItems > p {
  font-size: 14px;
  margin-left: 12px;
  color: grey;
}
.line {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
}
